<nz-header>
    <div class="app-header">
      <div  class="col-md-6">
        
      <span class="header-trigger" (click)="SidebarControl()">
          <i class="trigger"
             nz-icon
             [nzType]="isSidebarClosed ? 'menu-unfold' : 'menu-fold'"
          ></i>
      </span>
      
      </div>
      <div  class="col-md-6">
        aaaa


        <!-- <form >       
          <mat-form-field appearance="fill" >
            <mat-label>Login</mat-label>
            <input matInput required><br>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input matInput required><br>
          </mat-form-field>
        </form> -->
      </div>


    </div>
      

  </nz-header>