<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isSidebarClosed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div>

<!--       
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isSidebarClosed" *ngIf="showAll">

          <li nz-submenu nzOpen nzTitle="Zawody" nzIcon="form" *ngIf="Show('Zawody')">
            <ul>
                <li nz-menu-item nzMatchRouter *ngIf="Show('Organizacja zawodów')">
                  <a routerLink="/competition/organization">Organizacja zawodów</a>
                </li>

                <li nz-menu-item nzMatchRouter *ngIf="Show('opcja 2')">
                  <a>opcja 2</a>
                </li>
            </ul>
          </li>

          <li nz-submenu nzOpen nzTitle="Profil" nzIcon="form" *ngIf="Show('Profil')">
            <ul>
                <li nz-menu-item nzMatchRouter *ngIf="Show('Dane osobiste')">
                  <a routerLink="/profile/data">Dane osobiste</a>
                </li>

                <li nz-menu-item nzMatchRouter *ngIf="Show('XXX')">
                  <a>XXX</a>
                </li>
            </ul>
          </li>

      </ul> -->





      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isSidebarClosed" *ngIf="showAll">
        <div *ngFor="let menu of AllowedMenu">
          <li nz-submenu nzOpen nzTitle="{{menu.mainMenu}}" nzIcon="form">
            <ul>
              <div *ngFor="let subMenu of menu.subMenu">
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="{{subMenu.link}}">{{subMenu.subMenu}}</a>
                </li>
              </div>
            </ul>
          </li>
        </div>
      </ul>

    </nz-sider>

