<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isSidebarClosed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isSidebarClosed" *ngIf="showAll">

        <div #menu id="Zawody">
          <li nz-submenu nzOpen nzTitle="{{menu.id}}" nzIcon="form" *ngIf="Show(menu.id)">
            <ul>
                <li nz-menu-item nzMatchRouter *ngIf="Show('opcja 1')">
                  <a>opcja 1</a>
                </li>

                <li nz-menu-item nzMatchRouter *ngIf="Show('opcja 2')">
                  <a>opcja 2</a>
                </li>
            </ul>
          </li>
        </div>


          <li nz-submenu nzOpen nzTitle="Profil" nzIcon="form" *ngIf="Show('Profil')">
            <ul>
                <li nz-menu-item nzMatchRouter *ngIf="Show('Bezpieczeństwo')">
                  <a routerLink="/profile/data">Bezpieczeństwo</a>
                </li>

                <li nz-menu-item nzMatchRouter *ngIf="Show('Dane osobiste')">
                  <a>Dane osobiste</a>
                </li>
            </ul>
          </li>

      </ul>
    </nz-sider>

