<button (click)="Test()">TEST</button>


<form #userForm="ngForm" (ngSubmit)="OnSubmitPermission()" >    

    <div>
        <div fxFlex="25" fxLayoutAlign="end"> 
    
            <mat-form-field appearance="fill" style="width:400px !important" required>
                <mat-label>Uprawnienie</mat-label>
                <mat-select  [(ngModel)]="newPermission.RawPermission" (ngModelChange) = "permissionSelect()" name="Permission">
                <mat-option *ngFor="let permission of permissions" [value]="permission" >
                    {{permission.Name}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div fxFlex="25" fxLayoutAlign="end"> 
        <mat-form-field appearance="fill"  style="width:400px !important">
            <mat-label>Szczegóły</mat-label>
            <mat-select [formControl]="permissionForm" multiple [disabled]=!newPermission.RawPermission?.HasEnumDetail  [(ngModel)]="newPermission.UserPermissionDetail" >
              <mat-select-trigger >
                {{permissionForm.value ? permissionForm.value[0]?.Name : '-'}}
                <span *ngIf="permissionForm.value?.length > 1" class="additional-selection">
                  (+{{permissionForm.value.length - 1}} {{permissionForm.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of permissionsDetail" [value]="topping">{{topping.Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        
        <!-- <div fxFlex="25" fxLayoutAlign="end"> 
            <mat-form-field appearance="fill" style="width:400px !important">
            <mat-label>Numer dokumentu</mat-label>
            <input matInput ngModel name="DocumentNumber" [(ngModel)]="newPermission.DocumentNumber"><br>
            </mat-form-field> <br>
        </div> -->


        <div fxFlex="25" fxLayoutAlign="end"> 
            <mat-form-field appearance="fill" style="width:400px !important">
                <mat-label>Data ważności</mat-label>
                <input 
                matInput [matDatepicker]="picker"  
                [(ngModel)]="newPermission.ExpireDate" 
                name="ExpireDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="month" [startAt]="ExpireDate"></mat-datepicker>
            </mat-form-field>
        </div>




    </div>
    <div>
        <button color="primary" mat-button type="submit">Dodaj</button>
        <button color="warn" mat-button type="button" (click)="Close()">Anuluj</button>
    </div>
</form> 

