

<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isSidebarClosed"
    [nzTrigger]="null">

    <app-sidebar-page [isSidebarClosed] = "isSidebarClosed"></app-sidebar-page>
  </nz-sider>



  <nz-layout>
    <nz-header>
      <app-header (sidebarControl)="ReceivedMessage($event)"></app-header>
    </nz-header>


    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
  
        https://www.youtube.com/watch?v=08svzu9JGNM&list=PLC3y8-rFHvwilEuCqFGTL5Gt5U6deIrsU&index=12

        <button color="primary" mat-raised-button>primary</button><br>
        <button color="accent" mat-raised-button>accent</button><br>
        <button color="warn" mat-raised-button >warn</button>

        <button color="primary" mat-button>primary</button><br>
        <button color="accent" mat-button>accent</button><br>
        <button color="warn" mat-button >warn</button>

        <button mat-flat-button >Open file</button>
        <button mat-stroke-button >Open file</button>
        <button mat-icon-button >Open file</button>
        <button mat-fab >Open file</button>
        <button mat-mini-fab>Open file</button>

        <div>
          <mat-icon color="primary">grade</mat-icon>
        </div>

        <div>
          <mat-progress-spinner value="20"></mat-progress-spinner>
          <mat-spinner ></mat-spinner>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>name</mat-label>
          <input matInput required><br>
        </mat-form-field>

        
        <mat-form-field appearance="fill">
          <mat-label>name</mat-label>
          <input matInput required><br>
        </mat-form-field>


      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


