

<button (click)=Test()>test</button>
<button (click)="GenDefaultPermission()">Permission</button>



<div>
    <form #f="ngForm" (ngSubmit)="OnSubmit(f)" >  
        
        <mat-form-field appearance="fill" hidden>
            <mat-label>Id</mat-label>
            <input matInput required ngModel name="Id" [(ngModel)]="newMenu.Id" ><br>
        </mat-form-field>
        
        <mat-form-field appearance="fill" >
            <mat-label>MainMenu</mat-label>
            <input matInput required ngModel name="MainMenu" [(ngModel)]="newMenu.MainMenu"><br>
        </mat-form-field>


            <mat-form-field appearance="fill" >
                <mat-label>SubMenu</mat-label>
                <input matInput required ngModel name="SubMenu" [(ngModel)]="newMenu.SubMenu"><br>
            </mat-form-field>  


            <mat-form-field appearance="fill" >
                <mat-label>RouterLink</mat-label>
                <input matInput required ngModel name="RouterLink" [(ngModel)]="newMenu.RouterLink"><br>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Rola</mat-label>
                <mat-select name="UserRole" [(ngModel)]="newMenu.UserRole" required>
                    <div *ngFor="let role of userRole">
                        <mat-option [value]="role.Id">{{role.Value}}</mat-option>
                    </div> 
                </mat-select>
            </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Typ</mat-label>
            <mat-select name="UserType" [(ngModel)]="newMenu.UserType" required>
                <div *ngFor="let type of userType">
                    <mat-option [value]="type.Id">{{type.Value}}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>

        <button type="submit">Update</button>
    </form>
</div>








<div *ngFor="let menu of menus">

    <form #f="ngForm" (ngSubmit)="OnSubmit(f)" >  
        
        <mat-form-field appearance="fill" hidden>
            <mat-label>Id</mat-label>
            <input matInput required ngModel name="Id" [(ngModel)]="menu.Id" ><br>
        </mat-form-field>
        
        <mat-form-field appearance="fill" >
            <mat-label>MainMenu</mat-label>
            <input matInput required ngModel name="MainMenu" [(ngModel)]="menu.MainMenu"><br>
        </mat-form-field>


        <mat-form-field appearance="fill" >
            <mat-label>SubMenu</mat-label>
            <input matInput required ngModel name="SubMenu" [(ngModel)]="menu.SubMenu"><br>
        </mat-form-field>  


        <mat-form-field appearance="fill" >
            <mat-label>RouterLink</mat-label>
            <input matInput required ngModel name="RouterLink" [(ngModel)]="menu.RouterLink"><br>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Rola</mat-label>
            <mat-select name="UserRole" [(ngModel)]="menu.UserRole" required>
                <div *ngFor="let role of userRole">
                    <mat-option [value]="role.Id">{{role.Value}}</mat-option>
                </div> 
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Typ</mat-label>
            <mat-select name="UserType" [(ngModel)]="menu.UserType" required>
                <div *ngFor="let type of userType">
                    <mat-option [value]="type.Id">{{type.Value}}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>

        <button type="submit">Update</button>
        <button type="button" (click)="AskForDelete(menu.Id)">Delete</button>
    </form>
</div>
