<div fxLayoutAlign="end" >
    <span class="material-icons" mat-dialog-close>
        close
        </span>
</div>

<mat-tab-group (focusChange)="TabChange()">
    
    <mat-tab label="Logowanie" >

            
        <div fxLayoutAlign="center" style="min-height: 400px;">
            <div style="margin-top: 50px;">
                <form #userForm="ngForm" (ngSubmit)="OnSubmitLogin()" >     
                    <mat-form-field appearance="fill" >
                    <mat-label>Email</mat-label>
                    <input matInput required ngModel name="Email" [(ngModel)]="userModel.Email"><br>
                    </mat-form-field> <br>
                    
                    <mat-form-field appearance="fill">
                    <mat-label>Hasło</mat-label>
                    <input matInput required ngModel name="Password" [(ngModel)]="userModel.Password"><br>
                    </mat-form-field><br>
        
                    <button color="primary" mat-button type="submit">Zaloguj</button>
                </form>
            </div>
            
        </div>

    </mat-tab>    
    <mat-tab label="Rejestracja" >

            
        <div fxLayoutAlign="center" style="min-height: 400px;">
            <div style="margin-top: 25px;">
                <form #userForm="ngForm" (ngSubmit)="OnSubmitRegister()" >      
                    <mat-form-field appearance="fill" >
                        <mat-label>Email</mat-label>
                        <input matInput required ngModel name="Email" [(ngModel)]="userModel.Email"><br>
                    </mat-form-field> <br>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Hasło</mat-label>
                        <input matInput required ngModel name="Password" [(ngModel)]="userModel.Password"><br>
                    </mat-form-field><br>

                    <mat-form-field appearance="fill">
                        <mat-label>Powtórz hasło</mat-label>
                        <input matInput required ngModel name="Password" [(ngModel)]="userModel.Password"><br>
                    </mat-form-field><br>
        
                    <button color="primary" mat-button type="submit">Zarejestruj</button>
                </form>
            </div>
        </div>


    </mat-tab>

</mat-tab-group>
